.element{
  font-family: 'Lato', sans-serif;
}

.InfoUser{
    display: flex;
    justify-content: left;
    font-size :20px;
    margin : 0px 10px 10px 20px;
    
}
.Parent{
  border-radius :20px;
  border : 2px solid #6666;
  margin : 30px ;
  background-color: white;
  
}
.avatar {
   
  }

  .imgAvatar img {
    width: auto;
    border-radius :50%;
    padding: 2px;
  }
  .imgAvatar {
    margin: 0 auto;
    text-align: center;
  }
  .Profile{
    font-size:2rem;
    text-align:center;
    font-weight: bold;
  }
  .changePass{
    display:flex;
    justify-content:center
  }
  .title{
    font-style: italic;
    text-decoration: underline;
    margin-left : 10px;
    color: #161616
  }