body{
  font-family: Arial, Helvetica, sans-serif;
}

.area {
    border: 1px groove #6666 ;
    border-radius : 8px;
    /* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
    width: 395px;
    height: 100%;
    background: 
    white;
    margin: 30px 30px;

  }

  .area:hover {
    opacity: 1;
    background-color: #e5f2f7;
  }
.name-are{
   padding : 15px 30px;
   color: white;
   font-size : 3rem;
   font-weight: bold;
   
   

}
.header-box{
  
    background : #208fbb;
    display:flex;
    justify-content:left;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
    
}
.img-are {
  padding : 0px 20px;
  
}
.img-are img {
    width: 100%;
    height: 300px;
    object-fit: contain;
  }

  .footer{
    margin-left : 20px;
    color : #000000;
    margin-bottom : 10px;
    margin-right :20px;
    
  }