.containerChild {
   padding:10px;
}
.childProcess{
    display:flex;
   padding:10px;
    justify-content:space-between;
    background:#f9f9f9
}
.TitleChildProcess{
    border:2px groove;
    margin-top:5px;
    
}
