.loaderOverlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* độ mờ của overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    /* đảm bảo spinner được hiển thị phía trên các phần tử khác */
}

.loaderOverlay>div {
    display: flex;
    justify-content: center;
    align-items: center;
}