.containerParent {
    /* display :'flex'; */
    margin:10px 10px;
    background : white;
    
    
    
    
    
}
.parentProcess{
    border:2px groove;
    
    margin-top:10px
    
}
.TitleParentProcesss{
    
    padding-left :10px;
    font-size:25px;
    font-weight:bold;
    /* font-style: italic; */
    text-decoration: underline;
    
    
}
.Rangetime{
    display:flex;
    margin:0px 0px 0px 10px;
    gap:20px;
}